<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="buy product falabella in chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="buy.BuyProductTest">
                <methods>
                    <include name="testComprarConGifCard"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="buy product falabella in firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="buy.BuyProductTest">
                <methods>
                    <include name="testComprarConGifCard"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>